<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{ifset title}{include title|stripHtml} | {/ifset}Institut Estetické Medicíny</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400,500,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{$basePath}/styles/template.css?v={time()}">
</head>
<body>
<div class="full-width-wrapper">
	<header>
		<div id="logo">
			<a href=""><img src="{$basePath}/assets/logo.png"></a>
		</div>
		<nav>
			<a href="" class="active">Domů</a>
			<a href="">Estetická medicína</a>
			<a href="">Kosmetika</a>
			<a href="">Kontakty</a>
		</nav>
	</header>
</div>
<div class="full-width-wrapper">
	{include content}
</div>

<div class="full-width-wrapper no-border">
	<footer>
		<p class="copyright">
			Institut Estetické Medicíny - 2017
			<a class="facebook" href=""><img class="facebook" src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_24,h_24,al_c,usm_0.66_1.00_0.01/0fdef751204647a3bbd7eaa2827ed4f9.png" alt=""></a>
		</p>
	</footer>
</div>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
{/block}
</body>
</html>
