html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  color: #0E3C53;
  font-weight: 400; }

html, body {
  width: 100%;
  margin: 0; }

/** Global **/
.button {
  display: inline-block;
  padding: 23px 0;
  text-decoration: none;
  cursor: pointer !important; }
  .button.button-small {
    padding: 12px 0; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

p {
  font-size: 18px;
  line-height: 28px; }

a {
  cursor: pointer; }

@media screen and (max-width: 420px) {
  .hidden-xs {
    display: none !important; } }
/** Site **/
.full-width-wrapper {
  width: 100%;
  display: block;
  border-bottom: 3px solid #6D6141; }
  .full-width-wrapper.no-border {
    border-bottom: none; }

header, section, footer {
  width: 960px;
  display: block;
  margin: auto; }
  @media screen and (max-width: 960px) {
    header, section, footer {
      width: calc(100% - 40px);
      padding-left: 20px !important;
      padding-right: 20px !important; } }

header {
  padding: 40px 0; }
  header #logo {
    display: inline-block;
    margin-left: 40px; }
    header #logo img {
      width: 220px; }
    @media screen and (max-width: 260px) {
      header #logo img {
        width: 100%; } }
  header nav {
    margin-top: 8px;
    float: right;
    display: inline-block; }
    header nav a {
      display: inline-block;
      text-decoration: none;
      color: #0E3C53;
      padding: 3px;
      margin: 0 8px; }
      header nav a:first-child {
        margin-left: 0; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a.active {
        text-decoration: underline; }
  @media screen and (max-width: 690px) {
    header {
      padding: 20px 0; }
    header #logo {
      text-align: center;
      margin: 0;
      width: 100%; }
    header nav {
      display: block;
      float: none;
      text-align: center; } }
  @media screen and (max-width: 360px) {
    header nav a {
      margin: 0 3px; } }

section {
  padding: 40px 0; }

section.home-page nav {
  text-align: center; }
  section.home-page nav .button {
    width: 260px;
    background: linear-gradient(#D6CBA3, #B4A056);
    color: white; }
    section.home-page nav .button:first-child {
      margin-right: 120px; }
  @media screen and (max-width: 690px) {
    section.home-page nav .button {
      min-width: 180px;
      width: calc((100% / 2) - 20%); }
      section.home-page nav .button:first-child {
        margin-right: 10%; } }
section.home-page div.about-us {
  margin: 80px 0 0 0;
  max-width: 500px; }
  section.home-page div.about-us h2 {
    margin-bottom: 10px; }
  @media screen and (max-width: 500px) {
    section.home-page div.about-us {
      max-width: 100%; } }
section.home-page div.reference {
  margin-top: -70px;
  text-align: right; }
  section.home-page div.reference div.reference-text {
    max-width: 400px;
    display: inline-block;
    margin-top: 260px;
    margin-right: 60px;
    vertical-align: top; }
    section.home-page div.reference div.reference-text p {
      font-style: italic;
      text-align: left; }
    section.home-page div.reference div.reference-text div.author {
      margin: 5px 20px 0 0;
      font-size: 26px; }
  section.home-page div.reference img {
    width: calc(100% - 600px); }

section.category h2.category-title {
  margin: 0 0 40px 0;
  padding: 0;
  text-align: center; }
section.category nav.category-nav {
  width: 250px;
  display: inline-block;
  vertical-align: top; }
  section.category nav.category-nav a {
    display: block;
    text-align: center;
    background: #E8DDCA;
    margin-bottom: 16px;
    color: #0E3C53; }
    section.category nav.category-nav a.active {
      color: white; }
section.category div.article {
  vertical-align: top;
  width: calc(100% - 285px);
  margin-left: 30px;
  display: inline-block;
  margin-top: -10px; }
  section.category div.article h3 {
    margin-bottom: 12px; }
@media screen and (max-width: 700px) {
  section.category nav.category-nav, section.category div.article {
    display: block;
    width: 100%;
    margin: 0; } }

section.contact h2 {
  margin-bottom: 10px; }
section.contact .labels {
  margin: 80px 0 50px 0;
  text-align: center; }
  section.contact .labels .contact-label {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px; }
    section.contact .labels .contact-label .icon i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      padding: 25px;
      font-size: 30px;
      background: linear-gradient(#D6CBA3, #B4A056);
      color: white;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px; }
    section.contact .labels .contact-label .label-value {
      margin-top: 25px;
      font-size: 18px; }
      section.contact .labels .contact-label .label-value a {
        text-decoration: none;
        color: #0E3C53; }

footer {
  padding: 50px 0; }
  footer p.copyright {
    font-size: 14px; }
    footer p.copyright a.facebook {
      display: inline;
      float: right;
      vertical-align: top; }
  @media screen and (max-width: 700px) {
    footer {
      padding: 25px 0; } }

/*# sourceMappingURL=template.css.map */
