html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  color: #0E3C53;
  font-weight: 300; }

html, body {
  width: 100%;
  margin: 0; }

/** Global **/
.button {
  display: inline-block;
  padding: 23px 0;
  background: grey;
  text-decoration: none;
  cursor: pointer !important; }
  .button.button-small {
    padding: 12px 0; }

h2 {
  font-size: 38px; }

p {
  font-size: 18px;
  line-height: 28px; }

/** Site **/
.full-width-wrapper {
  width: 100vw;
  display: block;
  border-bottom: 3px solid #6D6141; }
  .full-width-wrapper.no-border {
    border-bottom: none; }

header, section, footer {
  width: 960px;
  display: block;
  margin: auto; }
  @media screen and (max-width: 768px) {
    header, section, footer {
      width: calc(100vw - 40px);
      padding-left: 20px !important;
      padding-right: 20px !important; } }

header {
  padding: 40px 0; }
  header #logo {
    display: inline-block;
    margin-left: 40px; }
    header #logo img {
      width: 220px; }
  header nav {
    margin-top: 12px;
    float: right;
    display: inline-block; }
    header nav a {
      display: inline-block;
      text-decoration: none;
      color: #0E3C53;
      padding: 3px;
      margin: 0 8px;
      font-size: 18px;
      font-weight: 300; }
      header nav a:first-child {
        margin-left: 0; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a.active {
        text-decoration: underline; }

section {
  padding: 60px 0; }

section.home-page nav {
  text-align: center; }
  section.home-page nav .button {
    width: 260px;
    color: #0E3C53;
    background-color: rgba(204, 179, 138, 0.45); }
    section.home-page nav .button:first-child {
      margin-right: 120px; }
section.home-page div.about-us {
  margin: 80px 0 0 0;
  max-width: 500px; }
  section.home-page div.about-us h2 {
    margin-bottom: 10px; }
section.home-page div.reference {
  margin-top: -70px;
  text-align: right; }
  section.home-page div.reference div.reference-text {
    max-width: 400px;
    display: inline-block;
    margin-top: 260px;
    margin-right: 60px;
    vertical-align: top; }
    section.home-page div.reference div.reference-text p {
      font-style: italic;
      text-align: left; }
    section.home-page div.reference div.reference-text div.author {
      margin: 5px 20px 0 0;
      font-size: 26px; }

section.category nav.category-nav {
  width: 250px;
  display: inline-block;
  vertical-align: top; }
  section.category nav.category-nav a {
    display: block;
    text-align: center;
    background: #E8DDCA;
    margin-bottom: 16px;
    color: #0E3C53; }
    section.category nav.category-nav a.active {
      color: white; }
section.category div.article {
  vertical-align: top;
  width: calc(100% - 285px);
  margin-left: 30px;
  display: inline-block;
  margin-top: -10px; }
  section.category div.article h2 {
    margin-bottom: 12px; }

footer {
  padding: 50px 0; }
  footer p.copyright {
    font-size: 16px; }
    footer p.copyright a.facebook {
      display: inline;
      float: right;
      vertical-align: top; }

/*# sourceMappingURL=template.css.map */
